<h1>Successfully Added Stock</h1>

<body>
  <p>Would you like to <%= button_to "Buy More Stocks", new_stock_pick_path, method: :get%> or <%= button_to "Go to my profile", @stock_pick.user, method: :get%></p>
</body>
