<h1>Welcome to Fantasy Stock Market!</h1>
<h2>Trending Users</h2>
<ul>
    <% @users.map do |user| %>
    <li>
        <%= link_to user.name, user %>
    </li>
    <% end %>
</ul>
<br>
<h2>Trending Stocks</h2>
<ul>
    <% @stocks.map do |stock| %>
    <li>
        <%= link_to stock.name, stock %>
    </li>
    <% end %>
</ul>
<br>
<h2>Trending Battles</h2>
<ul>
    <% @battles.map do |battle| %>
    <li>
     <%= link_to "#{battle.player1.name} vs  #{battle.player2.name}" , battle %> 
    </li>
    <% end %>
</ul>