<br>
<h1 style="text-align: center;">Battles</h1>
<br>

<% if @battles == []%>
<h3>There are no battles!</h3>

<% else %>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Competitors</th>
      <th scope="col">Winner</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @battles.each do |battle| %>

      <td><%= link_to "#{battle.player1.username} vs  #{battle.player2.username}" , battle%></td>
      <td><%= battle.winner.username %></td>

    </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>