/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     padding: 1%;
     color: #63707e !important;
     font-family: 'Asap', sans-serif !important;
 }


 a {
     color: #63707e;
 }

 a:active {
     color: #93b5b3;
 }

#logo {
     color: #63707e;
 }

 #navigation {
     background-color: #f2f6f5 !important;
 }

 table {
     background-color: #f2f6f5;
 }

 #value {
     padding-left: 50px;
 }

 .btn {
    border-color: #63707e !important;
    color: #63707e !important;
 }

 .btn:hover {
     background-color: #63707e !important;
     color: #f2f6f5 !important;
 }
