<h1 style="text-align:center" >Trending News</h1>
<br>
<div class="card-deck">
  <div class="card">
    <a href="https://www.nytimes.com/2019/10/24/business/mario-draghi-ecb.html" target="_blank">
    <img src="../images/24ecb-superJumbo.jpg" class="card-img-top" alt="Mario">
    <div class="card-body">
      <h5 class="card-title">As Mario Draghi Departs, the E.C.B. Is Divided Over His Policies</h5></a>
      <p class="card-text">The European Central Bank President Mario Draghi’s last policy meeting should have been a celebratory affair, marking the end of a momentous eight-year term during which he is widely credited with having saved Europe’s single currency. Instead, he is departing on a sour note..</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <a href="https://www.marketwatch.com/story/amazon-earnings-fall-for-first-time-in-more-than-two-years-stock-drops-in-late-trading-2019-10-24?mod=home-page" target="_blank">
    <img src="../images/amazon.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Amazon earnings fall for first time in more than two years, stock drops in late trading</h5></a>
      <p class="card-text">Amazon’s spending on one-day delivery and other initiatives sends profit down year-over-year for first time since 2017, forecast calls for even more spending in holiday quarter.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <a href="https://www.marketwatch.com/story/asian-markets-mixed-as-investors-seek-direction-2019-10-24?mod=home-page" target="_blank">
    <img src="../images/MW-HE396_tokyo0_20190221230833_ZH.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Asian markets mixed as investors seek direction</h5></a>
      <p class="card-text">Asian markets were mixed in modest trading Friday, as investors sought direction amid a rare quiet news day on the geopolitical front.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
