<h3 style="text-align:center">Trending Stocks</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="column-width: 200px;">Name</th>
      <th scope="col" style="column-width: 200px;">Ticker</th>
      <th scope="col" style="column-width: 200px;">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @stocks.trending_stock.each do |stock| %>
      <td><%= link_to stock.name, stock %></td>
      <td><%= stock.ticker %></td>
      <td><%= number_to_currency(stock.initial_value) %></td>
    </tr>
      <% end %>
    </tbody>
  </table>
