<h3>Trending Stocks</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Ticker</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @stocks.trending_stock.each do |stock| %>
      <td><%= link_to stock.name, stock %></td>
      <td><%= stock.ticker %></td>
      <td><%= number_to_currency(stock.initial_value) %></td>
    </tr>
      <% end %>
    </tbody>
  </table>
