<table class="table table-borderless table-dark">

  <thead>

    <tr>
      <th scope="col">#</th>
      <th scope="col">Investor 1</th>
      <th scope="col">Versus</th>
      <th scope="col">Investor 2</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <% @battles.top_five_battles.each do |battle| %>
      <th scope="row"><%=  %></th>

      <td><%= battle.player1.name %></td>
      <td> vs</td>

      <td><%= battle.player2.name %></td>



    </tr>


      <% end %>
    </tbody>
  </table>
