<h3 style="text-align:center">Trending Battles</h3>
<% if @battles == []%>
<h3 style="text-align:center">There are no battles!</h3>

<% else %>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Competitors</th>
      <th scope="col">Winner</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @battles.each do |battle| %>

      <td><%= link_to "#{battle.player1.name} vs  #{battle.player2.name}" , battle%></td>
      <td><%= battle.winner.name %></td>

    </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
