<h3>Trending Users</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Total Worth</th>
      <th scope="col">Battles Won</th>
    </tr>
  </thead>
  <tbody>
      <% @users[0..5].map do |user| %>
    <tr>

      <td><%= link_to user.username, user %></td>
      <td><%=number_to_currency(user.total_worth) %></td>
      <td><%= user.battles_won.count %></td>
    </tr>
    <% end %>

  </tbody>
</table>
